@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes item-1 {
  0% {
    opacity: 0;
    transform: translateY(35rem); }
  10% {
    transform: translateY(24.5rem); }
  20% {
    opacity: 1;
    transform: translateY(25.5rem); }
  50% {
    opacity: 0;
    transform: translateY(25.5rem); } }

@keyframes item-2 {
  0% {
    opacity: 0;
    transform: translateY(25rem); }
  10% {
    transform: translateY(15.5rem); }
  20% {
    opacity: 1;
    transform: translateY(16.5rem); }
  50% {
    opacity: 0;
    transform: translateY(16.5rem); } }

@keyframes item-3 {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  10% {
    transform: translateY(7rem); }
  20% {
    opacity: 1;
    transform: translateY(8rem); }
  50% {
    opacity: 0;
    transform: translateY(8rem); } }

@keyframes item-4 {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  10% {
    transform: translateY(-1rem); }
  20% {
    opacity: 1;
    transform: translate(0); }
  50% {
    opacity: 0;
    transform: translate(0); } }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: #220000;
  position: relative;
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  z-index: 1;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #fa0404d2;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  align-items: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(250, 4, 4, 0.8), rgba(153, 9, 9, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-primary-tyb {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary-tyb--main {
    display: block;
    font-size: 10rem;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-tyb--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary-tyb--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-tyb--sub {
        letter-spacing: .5rem; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #ffffff2c;
  color: #fff; }
  .btn--green::after {
    background-color: #ffffff2c; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ffffff2c;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffffff2c;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #ffffff2c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #ffffff2c;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #fa04041c, #0e010100);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ffffff2c; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #ffffff2c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff2c;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #ffffff2c; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.general-header {
  position: relative;
  height: 100vh; }

.main-photo {
  width: 21rem;
  height: 21rem;
  float: left;
  position: absolute;
  top: 80vh;
  left: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
  z-index: 100; }

.information {
  position: absolute;
  float: left;
  top: 64vh;
  left: 28rem;
  overflow: hidden;
  z-index: 100; }
  .information ul .info {
    color: white;
    font-size: 5rem;
    flex: 1;
    align-items: center; }

.info--4 {
  opacity: 0;
  animation: item-4 20s ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal; }

.info--3 {
  opacity: 0;
  animation: item-3 20s ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 5s; }

.info--2 {
  opacity: 0;
  animation: item-2 20s ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 10s; }

.info--1 {
  opacity: 0;
  animation: item-1 20s ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 15s; }

.tyb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(5, 255, 88, 0.3), rgba(0, 133, 44, 0.3)), url(../../img/tyb.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .tyb {
      clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 87%);
      height: 95vh;
      z-index: 1000; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .tyb {
      background-image: linear-gradient(to right bottom, rgba(5, 255, 88, 0.3), rgba(0, 133, 44, 0.3)), url(../../img/tyb.jpg);
      background-position-y: 25%; } }
  @media only screen and (max-width: 37.5em) {
    .tyb {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .tyb__logo {
    height: 3.5rem; }
  .tyb__text-box {
    max-width: 50%;
    text-align: center; }

.about-me-general {
  weight: 100vh;
  height: 100vh;
  display: flex;
  align-items: center; }

.about-me {
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.199);
  padding: 5rem;
  margin-bottom: 5rem;
  transition: transform 0.6s ease-in-out;
  flex: 1; }
  .about-me .heading-secondary {
    align-self: center;
    padding: 2rem; }

.scroll-about-me {
  transition: transform 0.6s ease-in-out; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(250, 4, 4, 0.8), rgba(14, 1, 1, 0.8)), url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      clip-path: polygon(50% 0%, 100% 0, 100% 89%, 68% 85%, 0 78%, 0 0);
      height: 95vh;
      z-index: 1000; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(250, 4, 4, 0.8), rgba(14, 1, 1, 0.8)), url(../img/hero.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.flex-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  transition: all 0.5s;
  background-color: transparent; }
  .flex-nav ul {
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    flex: 1; }
    .flex-nav ul a {
      color: #fa0404d2;
      font-weight: 400;
      align-self: center;
      display: inline-block;
      font-weight: 300;
      letter-spacing: 2px;
      text-decoration: none;
      color: white;
      font-family: sans-serif;
      font-size: 14px;
      list-style: none;
      flex: 1;
      align-self: center;
      text-align: center;
      font-weight: 400;
      letter-spacing: 2px;
      text-decoration: none;
      font-family: sans-serif;
      padding: 20px;
      text-transform: uppercase;
      align-self: center;
      align-items: stretch; }
      .flex-nav ul a:hover {
        background-color: white;
        transition: all .2s;
        color: #fa0404d2; }

.flex-nav-alt {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  transition: all 0.5s;
  background-color: black; }
  .flex-nav-alt ul {
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    flex: 1; }
    .flex-nav-alt ul a {
      color: #fa0404d2;
      font-weight: 400;
      align-self: center;
      display: inline-block;
      font-weight: 300;
      letter-spacing: 2px;
      text-decoration: none;
      color: white;
      font-family: sans-serif;
      font-size: 14px;
      list-style: none;
      flex: 1;
      align-self: center;
      text-align: center;
      font-weight: 400;
      letter-spacing: 2px;
      text-decoration: none;
      font-family: sans-serif;
      padding: 20px;
      text-transform: uppercase;
      align-self: center;
      align-items: stretch; }
      .flex-nav-alt ul a:hover {
        background-color: white;
        transition: all .2s;
        color: #fa0404d2; }
