// COLORS
$color-primary: #ffffff2c;
$color-primary-light: #fa04041c;
$color-primary-dark: #0e010100;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #fa0404d2;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: grey;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;