.about-me-general{
    weight: 100vh;
    height: 100vh;
    padding-top: 2%;
}

.about-me{
    background-color: white;
    // box-shadow: rgba(0, 0, 0, 0.199);
    box-shadow: rgba(255, 255, 255, 0.199);
    transition: transform 0.6s ease-in-out;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    margin: 15rem;
    height: 70%;
    
    &__header{
        background-color: white;
        // background-image: linear-gradient(
        // to right bottom,
        // rgb(130, 124, 177),
        // rgb(130, 130, 209));
        background-color: rgba(255, 217, 0, 0.623);
        width: 30%;
        

        &__heading-secondary{
            padding: 1.5rem;
            text-align: center;
            font-size: 4rem;
            text-transform: uppercase;
        }

        &__heading-tertiary{
            font-size: 2.5rem;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: 500;
        }

        &__heading-fourth{
            text-align: center;
            font-size: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-grey-light-1;
        }

        & ul{
            padding: 1rem;
        }

        & li{
           font-size: 1.5rem;
        }

        &__button-container{
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .btn-download-cv{
                border: none;
                padding: 1rem;
                border-radius: 3px;
                color: $color-grey-light-1;
                background-color: white;
                transition: all .2s;
                text-transform: uppercase;
                font-size: 1.4rem;
                text-decoration: none;
                

                &:hover{
                    color: white;
                    background-color: $color-grey-light-1;
                }

            }

        }

    }

    .pers-info{
        &__item{
            
        }

    }

    .contact__icon{
        transform: translateY(.5rem);
        display: inline-flex;
        margin-right: 1rem; 
        height: 1.6em;
            width: 1.6rem;
            fill: $color-grey-light-1;
    }


    &__content{
        width: 70%;
        display: flex;
        flex-direction: column;

        &__container{
            height: 93%;
        }

        &__nav-bar{
            display: flex;
            height: 7%;
            justify-content: space-between;

            &__heading-tertiary{
                text-align: center;
                flex: 1;
                font-size: 2rem;
                padding: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                border-bottom: 1px solid $color-grey-light-1;
                transition: all .2s;

                &:hover{
                    background-color: $color-grey-light-1;
                    color: white;
                    cursor: pointer;

                    .profile__icon{
                        fill: white;
                    }
                }

                &-selected{
                    background-color: $color-grey-light-1;
                    color: white;
                    cursor: pointer;

                    .profile__icon{
                        fill: white !important;
                    }
                }
            }

        }

        &__heading-secondary{
            padding-top: 1.5rem;
            text-align: center;
            font-size: 4rem;
            text-transform: uppercase;
            
        }

        &__heading-fourth{
            text-align: center;
            font-size: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-grey-light-1;
        }

    }

    

    .profile{
        transition: all .5s;
        height: 100%;

        &__section1{
            display: flex;
        }

        &__icon{
            transform: translateY(.2rem);
        // display: inline-flex;
        margin-right: 1rem; 
        height: 1em;
            width: 2.5rem;
            fill: $color-grey-light-1;
        }

        &__paragraphs__container{
            width: 70%;
            padding: 2rem;

            &-paragraph{
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }
        }

        &__values-container{
            padding: 2rem;
            width: 30%;

            &-list{
                list-style: none;
                text-align: right;
            }

            &-item{
                text-transform: uppercase;
                font-size: 1.6rem;
                letter-spacing: 3px;

                .highligther{
                background-color: rgba(255, 217, 0, 0.623);
                }
                
                    &:not(:first-child){
                    margin-top: .5rem;
                }
            }
        }

        &__picture{

            &__img{
                height: 100%;
                width: 100%;
            }

        }

    }

    .skills{
        display: flex;
        height: 100%;

        .skills-bar__icon{
            height: 2.2rem;
            width: 2.2rem;
            fill: white;
            margin-right: 1rem;
            transform: translateY(3px);
        }

        &__nav-bar{
            display: flex;
            flex-direction: column;
            width: 10%;
            background-color: $color-grey-light-1;

            &__item{
                display: flex;
                align-items: center;
                flex: 1;
                 border-bottom: 1px solid $color-grey-dark-3;
                //border-right: 1px solid $color-grey-dark-3;
                justify-content: center;
                transition: all .3s;

                &-selected{
                    background-color: white;

                    .skills__nav-bar__item__icon{
                        fill: $color-grey-light-1 !important;
                }
            }

                &__icon{
                    
                    height: 5rem;
                    width: 5rem;
                    fill: white;
                    }

                    
                    &:hover{
                        background-color: white;
                

                        .skills__nav-bar__item__icon{
                            fill: $color-grey-light-1 !important;
                        }
                    }
                }
            }

            &__content{
                width: 90%;
            }

            

            &-robotics{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                .btn__skills__see-more{
                    border: none;
                padding: 1rem;
                border-radius: 3px;
                color: $color-grey-light-1;
                background-color: white;
                transition: all .2s;
                text-transform: uppercase;
                font-size: 1.4rem;
                text-decoration: none;
                height: 4rem;
                width: 10rem;
                text-align: center;

                &:hover{
                    color: white;
                    background-color: $color-grey-light-1;
                }
                }

                &__header{
                    
                    &__heading{
                        text-align: center;
                        font-size: 7rem;
                        animation: slide-left 1s ease-in-out;
                    -webkit-animation: slide-left 1s ease-in-out;
                    }
                }

                &__description{
                    display: flex;

                    &__paragraph{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        padding: 1rem; 
                        background-color: $color-secondary-light;
                        margin: 2rem;
                        font-size: 1.4rem;
                    }

                    &__video{
                        margin-right: 2rem;
                    }
                }


                /////////////////////ROBOTICS SKILLS BAR GRAPH///////////////////////

                &__bar-graph-container {
                    border-left: 1px solid #333;
                    border-bottom: 1px solid #333; 
                    overflow: hidden;
                    margin: 2rem;
                  }
                  
                  &__bar-graph-container p {
                    padding: 0.5rem;
                    color: #fff;
                    font-size: 1.8rem;
                  }
                  
                  &-bar-container {
                       background-color: $color-secondary-light;   
                  }
                  
                  &-html {
                    width:80%;
                    background-color: $color-grey-dark;
                    animation: slide-left 0.9s ease-in-out 1s both;
                    -webkit-animation: slide-left 0.9s ease-in-out 1s both;
                    animation-delay: 0.1s;
                    -webkit-animation-delay: 0.1s;
                    margin: 1rem 0;
                  }
                  
                  &-css {
                    width: 55%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                   -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.2s;
                    -webkit-animation-delay: 0.2s;
                    margin: 1rem 0;
                  }
                  
                  &-js {
                    width: 70%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.3s;
                    -webkit-animation-delay: 0.3s;
                    margin: 1rem 0;
                  }
                  
                  &-php {
                    width: 50%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.2s;
                    -webkit-animation-delay: 0.2s;
                    margin: 1rem 0;
                  }
                  
                  &-drupal {
                    width: 60%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.1s;
                    -webkit-animation-delay: 0.1s;
                    margin-top: 1rem;
                  } 

            }

            &-music{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                .btn__skills-music__see-more{
                    border: none;
                padding: 1rem;
                border-radius: 3px;
                color: $color-grey-light-1;
                background-color: white;
                transition: all .2s;
                text-transform: uppercase;
                font-size: 1.4rem;
                text-decoration: none;
                height: 4rem;
                width: 10rem;
                text-align: center;

                &:hover{
                    color: white;
                    background-color: $color-grey-light-1;
                }
                }

                &__header{
                    
                    &__heading{
                        text-align: center;
                        font-size: 7rem;
                        animation: slide-left 1s ease-in-out;
                    -webkit-animation: slide-left 1s ease-in-out;
                    }
                }

                &__description{
                    display: flex;
                    

                    &__paragraph{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        padding: 1rem; 
                        background-color: $color-secondary-light;
                        margin: 2rem;
                        font-size: 1.4rem;
                    }

                    &__video{
                        margin-right: 2rem;
                    }
                }


                /////////////////////MUSIC SKILLS BAR GRAPH///////////////////////

                &__bar-graph-container {
                    border-left: 1px solid #333;
                    border-bottom: 1px solid #333; 
                    overflow: hidden;
                    margin: 2rem;
                  }
                  
                  &__bar-graph-container p {
                    padding: 0.5rem;
                    color: #fff;
                    font-size: 1.8rem;
                  }
                  
                  &-bar-container {
                       background-color: $color-secondary-light;   
                  }
                  
                  &-html {
                    width: 95%;
                    background-color: $color-grey-dark;
                    animation: slide-left 0.9s ease-in-out 1s both;
                    -webkit-animation: slide-left 0.9s ease-in-out 1s both;
                    animation-delay: 0.1s;
                    -webkit-animation-delay: 0.1s;
                    margin: 1rem 0;
                  }
                  
                  &-css {
                    width: 75%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                   -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.2s;
                    -webkit-animation-delay: 0.2s;
                    margin: 1rem 0;
                  }
                  
                  &-js {
                    width: 80%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.3s;
                    -webkit-animation-delay: 0.3s;
                    margin: 1rem 0;
                  }
                  
                  &-php {
                    width: 40%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.2s;
                    -webkit-animation-delay: 0.2s;
                    margin: 1rem 0;
                  }
                  
                  &-drupal {
                    width: 30%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.1s;
                    -webkit-animation-delay: 0.1s;
                    margin-top: 1rem;
                  } 
            }

            &-web-design{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                .btn__skills-web-design__see-more{
                    border: none;
                padding: 1rem;
                border-radius: 3px;
                color: $color-grey-light-1;
                background-color: white;
                transition: all .2s;
                text-transform: uppercase;
                font-size: 1.4rem;
                text-decoration: none;
                height: 4rem;
                width: 10rem;
                text-align: center;

                &:hover{
                    color: white;
                    background-color: $color-grey-light-1;
                }
                }

                &__header{
                    
                    &__heading{
                        text-align: center;
                        font-size: 7rem;
                        animation: slide-left 1s ease-in-out;
                    -webkit-animation: slide-left 1s ease-in-out;
                    }
                }

                &__description{
                    display: flex;
                    

                    &__paragraph{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        padding: 1rem; 
                        background-color: $color-secondary-light;
                        margin: 2rem;
                        font-size: 1.4rem;
                    }

                    &__video{
                        margin-right: 2rem;
                    }
                }


                /////////////////////WEB DESIGN SKILLS BAR GRAPH///////////////////////

                &__bar-graph-container {
                    border-left: 1px solid #333;
                    border-bottom: 1px solid #333; 
                    overflow: hidden;
                    margin: 2rem;
                  }
                  
                  &__bar-graph-container p {
                    padding: 0.5rem;
                    color: #fff;
                    font-size: 1.8rem;
                  }
                  
                  &-bar-container {
                       background-color: $color-secondary-light;   
                  }
                  
                  &-html {
                    width: 100%;
                    background-color: $color-grey-dark;
                    animation: slide-left 0.9s ease-in-out 1s both;
                    -webkit-animation: slide-left 0.9s ease-in-out 1s both;
                    animation-delay: 0.1s;
                    -webkit-animation-delay: 0.1s;
                    margin: 1rem 0;
                  }
                  
                  &-css {
                    width: 100%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                   -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.2s;
                    -webkit-animation-delay: 0.2s;
                    margin: 1rem 0;
                  }
                  
                  &-js {
                    width: 50%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.3s;
                    -webkit-animation-delay: 0.3s;
                    margin: 1rem 0;
                  }
                  
                  &-php {
                    width: 90%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.2s;
                    -webkit-animation-delay: 0.2s;
                    margin: 1rem 0;
                  }
                  
                  &-drupal {
                    width: 30%;
                    background-color: $color-grey-dark;
                    animation: slide-left 1s ease-in-out 1s both;
                    -webkit-animation: slide-left 1s ease-in-out 1s both;
                     animation-delay: 0.1s;
                    -webkit-animation-delay: 0.1s;
                    margin-top: 1rem;
                  } 
            }

        }//skills
    } //about-me


///////////////////////////////EXPERIENCE///////////////////

    .experience{
        display: flex;
        height: 100%;

        .skills-bar__icon{
            height: 2.2rem;
            width: 2.2rem;
            fill: white;
            margin-right: 1rem;
            transform: translateY(3px);
        }

        &__nav-bar{
            display: flex;
            flex-direction: column;
            width: 10%;
            background-color: $color-grey-light-1;

            &__item{
                display: flex;
                align-items: center;
                flex: 1;
                 border-bottom: 1px solid $color-grey-dark-3;
                //border-right: 1px solid $color-grey-dark-3;
                justify-content: center;
                transition: all .3s;

                &-selected{
                    background-color: white;

                    .experience__nav-bar__item__icon{
                        fill: $color-grey-light-1 !important;
                }
            }

                &__icon{
                    
                    height: 5rem;
                    width: 5rem;
                    fill: white;
                    }

                    
                    &:hover{
                        background-color: white;
                

                        .experience__nav-bar__item__icon{
                            fill: $color-grey-light-1 !important;
                        }
                    }
                }
            }

            &__content{
                width: 90%;
            }

            &-robotics{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                &__main{
                    height: 33.3%;

                    &-img{
                        height: 100%;
                        background-color: red;
                    }
                }

                &__content{
                    height: 66.7%; 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 2rem;
                }

                &__item{
                    background-color: rgba(255, 217, 0, 0.623);
                    padding: 1rem;
                    animation: slide-left 1s ease-in-out .3s both;
                    -webkit-animation: slide-left 1s ease-in-out .3s both;

                    &__heading{
                        font-size: 1.4rem;
                    }

                    &__paragraph{
                        font-size: 1.2rem;
                    }
                }

                

            } ////EXPERIENCE ROBOTICS

            &-music{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                &__main{
                    height: 33.3%;

                    &-img{
                        height: 100%;
                        background-color: red;
                    }
                }

                &__content{
                    height: 33.3%; 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 2rem;
                }

                &__item{
                    background-color: rgba(255, 217, 0, 0.623);
                    padding: 1rem;
                    animation: slide-left 1s ease-in-out .3s both;
                    -webkit-animation: slide-left 1s ease-in-out .3s both;

                    &__heading{
                        font-size: 1.4rem;
                    }

                    &__paragraph{
                        font-size: 1.2rem;
                    }
            }
        }

            &-web-design{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                &__main{
                    height: 33.3%;

                    &-img{
                        height: 100%;
                        background-color: red;
                    }
                }

                &__content{
                    height: 66.7%; 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 2rem;
                }

                &__item{
                    background-color: rgba(255, 217, 0, 0.623);
                    padding: 1rem;
                    animation: slide-left 1s ease-in-out .3s both;
                    -webkit-animation: slide-left 1s ease-in-out .3s both;

                    &__heading{
                        font-size: 1.4rem;
                    }

                    &__paragraph{
                        font-size: 1.2rem;
                    }
            }
        }
        }//EXPERIENCE


/////////////////////////////EDUCATION

.education{
    height: 100%;
    display: flex;

    &__content{
        margin: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__container{

        }

        &__item{
            padding: 2rem;
            border: $color-grey-dark-3;
            border: 1px solid $color-grey-dark;
            z-index: 10;

            &__heading{
                font-size: 2rem;
                transform: translate(1.5rem, 1.5rem);
                // transform: translateX(2rem);
                
            }

            &__paragraph{

            }
        }
    }

    

}

 .education__white{
     padding: 1rem;
    background-color: white;
    flex-grow: 0;
}