.about-me{
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: white;
    border-radius: 5px;
    // box-shadow: rgba(0, 0, 0, 0.199);
    box-shadow: rgba(255, 255, 255, 0.199);
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: center;
    padding: 5rem;
    flex-direction: column;
    margin-top: 20rem;
    margin-bottom: 5rem;
    transition: transform 0.6s ease-in-out;
    

    .heading-secondary{
        align-self: center;
        padding: 2rem;
    }
}

.scroll-about-me{
    transition: transform 0.6s ease-in-out;
}