.about-me-general{
    weight: 100vh;
    height: 100vh;
    padding-top: 2%;
}

.about-me{
    background-color: white;
    // box-shadow: rgba(0, 0, 0, 0.199);
    box-shadow: rgba(255, 255, 255, 0.199);
    transition: transform 0.6s ease-in-out;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    margin: 15rem;
    height: 70%;
    
    &__header{
        background-color: white;
        // background-image: linear-gradient(
        // to right bottom,
        // rgb(130, 124, 177),
        // rgb(130, 130, 209));
        background-color: rgba(255, 217, 0, 0.623);
        width: 30%;
        

        &__heading-secondary{
            padding-top: 1.5rem;
            text-align: center;
            font-size: 4rem;
            text-transform: uppercase;
        }

        &__heading-tertiary{
            font-size: 2.5rem;
            padding: 1rem;
            text-transform: uppercase;
            font-weight: 500;
        }

        &__heading-fourth{
            text-align: center;
            font-size: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-grey-light-1;
        }

        & ul{
            padding: 1rem;
        }

        & li{
           font-size: 1.5rem;
        }

        &__button-container{
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .btn-download-cv{
                border: none;
                padding: 1rem;
                border-radius: 3px;
                color: $color-grey-light-1;
                background-color: white;
                transition: all .2s;
                text-transform: uppercase;
                font-size: 1.4rem;
                margin-top: 30%;
                text-decoration: none;
                

                &:hover{
                    color: white;
                    background-color: $color-grey-light-1;
                }

            }

        }

    }

    .pers-info{
        &__item{
            
        }

    }

    .contact__icon{
        transform: translateY(.5rem);
        display: inline-flex;
        margin-right: 1rem; 
        height: 1.6em;
            width: 1.6rem;
            fill: $color-grey-light-1;
    }


    &__content{
        width: 70%;

        &__nav-bar{
            display: flex;
            justify-content: space-between;

            &__heading-tertiary{
                text-align: center;
                flex: 1;
                font-size: 2rem;
                padding: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                border-bottom: 1px solid $color-grey-light-1;
                transition: all .2s;

                &:hover{
                    background-color: $color-grey-light-1;
                    color: white;
                    cursor: pointer;

                    .profile__icon{
                        fill: white;
                    }
                }

                &-selected{
                    background-color: $color-grey-light-1;
                    color: white;
                    cursor: pointer;

                    .profile__icon{
                        fill: white !important;
                    }
                }
            }

        }

        &__heading-secondary{
            padding-top: 1.5rem;
            text-align: center;
            font-size: 4rem;
            text-transform: uppercase;
            
        }

        &__heading-fourth{
            text-align: center;
            font-size: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $color-grey-light-1;
        }

    }

    .main-question__container{
        display: flex;
        align-items: stretch;
  justify-content: center;
  margin: 20% 0;
  transition: all .5s;


        .about-me__main-question{
            font-size: 8rem;
            text-align: center;
            max-width: 70%;
            max-height: 100%;
        }

    }

    .profile{
        transition: all .5s;

        &__section1{
            display: flex;
        }

        &__icon{
            transform: translateY(.2rem);
        // display: inline-flex;
        margin-right: 1rem; 
        height: 1em;
            width: 2.5rem;
            fill: $color-grey-light-1;
        }

        &__paragraphs__container{
            width: 70%;
            padding: 2rem;

            &-paragraph{
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }
        }

        &__values-container{
            padding: 2rem;
            width: 30%;

            &-list{
                list-style: none;
                text-align: right;
            }

            &-item{
                text-transform: uppercase;
                font-size: 1.6rem;
                letter-spacing: 3px;

                .highligther{
                background-color: rgba(255, 217, 0, 0.623);
                }
                
                    &:not(:first-child){
                    margin-top: .5rem;
                }
            }
        }

        &__picture{


            &__img{
                height: 100%;
                width: 100%;
            }

        }

    }

    .skills{
        display: flex;
        height: 92%;

        &__nav-bar{
            display: flex;
            flex-direction: column;
            width: 15%;
            background-color: $color-grey-light-1;
            text-align: center;

            &__item{
                display: flex;
                align-items: center;
                flex: 1;
                

                &__icon{
                    
                    height: 5rem;
                    width: 5rem;
                    fill: white;
                }

            }

        }


        &__content{
            width: 85%;
            background-color: red;


        }

    }

}
