.blog{
height: 100vh;
display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    &__content{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        height: 90vh;
        margin-right: 5%;
        margin-left: 5%;

        &__heading{
            text-align: center;
        }
    }

    &__article-container{
        padding: 5rem;
        margin-bottom: 3rem;
        background-color: #ffffff6b;
        border-radius: 1rem;

        @media only screen and (max-width: 1280px){
            padding: 2rem;
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: 1024px){
            padding: 1rem;
        }
        
        @media only screen and (max-width: 375px){
            margin-bottom: 1rem;
        }

        &__title{
            // border: 3px solid white;
            padding: 1rem;
            margin-bottom: 1rem;
            text-align: center;
            color: white;
                font-size: 3rem;
                font-weight: 700;
                letter-spacing: 3rem;

                @media only screen and (max-width: 1024px){
                    margin: 0;
                }

                @media only screen and (max-width: 480px){
                    letter-spacing: 1rem;
                    font-size: 2rem;
                }

                @media only screen and (max-width: 480px){
                    padding: 0;
                }
            }

            &__content{
                border: 3px solid white;
                padding: 1rem;
                margin-bottom: 1rem;
                color: white;
                font-size: 1.6rem;

                @media only screen and (max-width: 1280px){
                    font-size: 1.4rem;
                }

                @media only screen and (max-width: 375px){
                    font-size: 1rem;
                }
            }
            
        }

    }

    .article-autor{
        text-transform: uppercase;
        text-align: right;
        float: right;
        color: white;
        background-color: #6B6B6B;
        padding: 0 5px;
        letter-spacing: 5px;
    }