.header {

}



.general__header{
    background-image: 
    linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.74),
        rgba(0, 0, 0, 0.719)),
    url(../img/hero.jpg);

    background-size: cover;
    background-position: top;
    position: relative;
    
    height: 100vh;

    display: flex;
    flex-direction: column;
    // flex-direction: column;

    &-top{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-box{
            display: flex;
            display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    }

    &-footer{
        display: flex;
        height: 30%;
    }
}

.main-photo{
    width: 30rem;
        height: 30rem;
        float: left;
        //transform: translateX(-3rem) skewX(12deg);
        overflow: hidden;
        border-radius: 50%;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 5rem;
    transform: translateY(-1rem);

    @media only screen and (max-width: 1400px){
        transform: translateY(-6rem);
    }

        @media only screen and (max-width: 1280px){
            width: 20rem;
            height: 20rem;
            transform: translateY(-1rem);
            margin-right: 3rem;
        }

        @media only screen and (max-width: 1024px){
            width: 18rem;
            height: 18rem;

            transform: translateY(-1rem);
        }
        
            
}


.information{
    
    ul{
        transform: translateY(-40%);

        @media only screen and (max-width: 1400px){
            transform: translateY(-50%);
        }

        @media only screen and (max-width: 1280px){
            transform: translateY(-50%);
        }


        .info{
            color: white;
            font-size: 5rem;
            flex: 1;
            align-items: center;

            letter-spacing: 1rem;

            @media only screen and (max-width: 1280px){
                font-size: 4rem;
            }

            @media only screen and (max-width: 1024px){
                font-size: 3rem;
            }

        }
    }
}


.info--4{

    opacity: 0;

    animation: item-4 20s ease-out;    
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.info--3{

    opacity: 0;

    animation: item-3 20s ease-out;    
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 5s;
}

.info--2{

    opacity: 0;

    animation: item-2 20s ease-out;    
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 10s;
}

.info--1{

    opacity: 0;

    animation: item-1 20s ease-out;    
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 15s;
}