.contact__nav-bar{
    position: absolute;
    z-index: 1000000;
    background-color: rgba(5, 5, 5, 0.555);
    position: fixed;
    color: white;
    left: 97%;
    top: 30%;
    border-radius: 2px;

    @media only screen and (max-width: 600px){
        display: none;
    }  

    @media only screen and (max-width: 1024px){
        left: 96%;
        top: 21%;
    }


    &__icon{
        height: 2rem;
        width: 2rem;
        fill: white;

        
    }

    &__item{ 
        padding: 2rem 1rem;
        
    }

    &-container{
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        animation: all .3s;
        

        :hover{
            background-color: white;
            transition: all .3s;

            .contact__nav-bar__icon{
                fill: $color-tertiary-light;
            }
        }
    }
}