.flex-container {
  
    display: flex;
    justify-content: center;
  }
  
  
  body {
    
    background-color: #9595EB;
    
  }
  
  svg {
    
    width: 100vh;
    height: 100vh;
  }
  
  
  
  
  
  
  /*SVG Colouring */
  
    .st0{fill:#565654;}
      .st1{fill:#F4F4F2;}
      .st2{fill:#DBBB37;}
      .st3{fill:#6D4326;}
      .st4{fill:#141413;}
      .st5{fill:#774C2F;}
      .st6{fill:white;}
      .st7{fill:#212120;}
      .st8{fill:#000;}
      .st9{fill:#B7B7B7;}
      .st10{fill:#8E8E8B;}
      .st11{fill:#6B6B6A;}
      .st12{fill:#898988;}
      .st13{fill:#CECECC;}
      .st14{fill:#C9C9C9;}
      .st15{fill:#9E9E9B;}
      .st16{fill:#F2F2F2;}
      .st17{fill:#CCCCCC;}
      .st18{fill:#0052cc;}
      .st19{fill:#3A3A3A;}
      .st20{fill:#494949;}
      .st21{fill:#FFFFFF;}
      .st22{fill:white;}
      .st23{fill:#474747;}
      .st24{fill:#666666;}
      .st25{fill:#BCBCBB;}
      .st26{fill:#C6C6C6;}
      .st27{fill:#A0A0A0;}
      .st28{fill:#ADADAC;}
      .st29{fill:#878787;}
      .st30{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}