.robot3:before {
    -webkit-animation: before 0.4s steps(1) infinite;
    -moz-animation: before 0.4s steps(1) infinite;
    -o-animation: before 0.4s steps(1) infinite;
    animation: before 0.4s steps(1) infinite;
  }

  .robo {
    width: 120px;height: 200px;
  }
  .robo:before, .robo:after {
    position: absolute;
    content: '';
    display: block;
      width: 5px;height: 5px;
  }

.robot3:after {
    opacity: 0;
    -webkit-animation: after 0.4s steps(1) infinite;
    -moz-animation: after 0.4s steps(1) infinite;
    -o-animation: after 0.4s steps(1) infinite;
    animation: after 0.4s steps(1) infinite;
  }


@-webkit-keyframes after { 0% { opacity: 0; } 50% { opacity: 1; } }
@-moz-keyframes after { 0% { opacity: 0; } 50% { opacity: 1; } }
@-o-keyframess after { 0% { opacity: 0; } 50% { opacity: 1; } }
@keyframes after { 0% { opacity: 0; } 50% { opacity: 1; } }


.robot3:before {
    box-shadow:
      /* antenna */
      55px 15px 0 white,
      60px 15px 0 white,
      35px 20px 0 white,
      40px 20px 0 white,
      45px 20px 0 white,
      50px 20px 0 white,
      55px 20px 0 white,
      60px 20px 0 white,
      65px 20px 0 white,
      70px 20px 0 white,
      75px 20px 0 white,
      80px 20px 0 white,
      55px 25px 0 white,
      60px 25px 0 white,
      55px 30px 0 white,
      60px 30px 0 white,
      55px 35px 0 white,
      60px 35px 0 white,
      /* head */
      45px 40px 0 white,
      50px 40px 0 white,
      55px 40px 0 white,
      60px 40px 0 white,
      65px 40px 0 white,
      70px 40px 0 white,
      40px 45px 0 white,
      40px 50px 0 white,
      40px 55px 0 white,
      40px 60px 0 white,
      40px 65px 0 white,
      75px 45px 0 white,
      75px 50px 0 white,
      75px 55px 0 white,
      75px 60px 0 white,
      75px 65px 0 white,
      /*eyes*/
      50px 50px 0 white,
      50px 55px 0 white,
      65px 50px 0 white,
      65px 55px 0 white,
      /*body*/
      30px 70px 0 white,
      35px 70px 0 white,
      40px 70px 0 white,
      45px 70px 0 white,
      50px 70px 0 white,
      55px 70px 0 white,
      60px 70px 0 white,
      65px 70px 0 white,
      70px 70px 0 white,
      75px 70px 0 white,
      80px 70px 0 white,
      85px 70px 0 white,
      25px 75px 0 white,
      25px 80px 0 white,
      25px 85px 0 white,
      25px 90px 0 white,
      25px 95px 0 white,
      25px 100px 0 white,
      25px 105px 0 white,
      25px 110px 0 white,
      25px 115px 0 white,
      25px 120px 0 white,
      25px 125px 0 white,
      90px 75px 0 white,
      90px 80px 0 white,
      90px 85px 0 white,
      90px 90px 0 white,
      90px 95px 0 white,
      90px 100px 0 white,
      90px 105px 0 white,
      90px 110px 0 white,
      90px 115px 0 white,
      90px 120px 0 white,
      90px 125px 0 white,
      30px 130px 0 white,
      35px 130px 0 white,
      40px 130px 0 white,
      45px 130px 0 white,
      50px 130px 0 white,
      55px 130px 0 white,
      60px 130px 0 white,
      65px 130px 0 white,
      70px 130px 0 white,
      75px 130px 0 white,
      80px 130px 0 white,
      85px 130px 0 white,
      35px 135px 0 white,
      80px 135px 0 white,
      35px 140px 0 white,
      40px 140px 0 white,
      45px 140px 0 white,
      50px 140px 0 white,
      55px 140px 0 white,
      60px 140px 0 white,
      65px 140px 0 white,
      70px 140px 0 white,
      75px 140px 0 white,
      80px 140px 0 white,   
      40px 145px 0 white,
      45px 145px 0 white,
      70px 145px 0 white,
      75px 145px 0 white,
      50px 150px 0 white,
      55px 150px 0 white,
      60px 150px 0 white,
      65px 150px 0 white,
      55px 155px 0 white,
      60px 155px 0 white,
      55px 160px 0 white,
      60px 160px 0 white,
      55px 165px 0 white,
      60px 165px 0 white,
      55px 170px 0 white,
      60px 170px 0 white,
      /*left f*/
      25px 155px 0 white,
      30px 155px 0 white,
      35px 155px 0 white,
      40px 155px 0 white,
      20px 160px 0 white,
      25px 160px 0 white,
      30px 160px 0 white,
      35px 160px 0 white,
      40px 160px 0 white,
      45px 160px 0 white,
      20px 165px 0 white,
      45px 165px 0 white,
      50px 165px 0 white,
      20px 170px 0 white,
      25px 170px 0 white,
      30px 170px 0 white,
      35px 170px 0 white,
      40px 170px 0 white,
      45px 170px 0 white,    
      25px 175px 0 white,
      30px 175px 0 white,
      35px 175px 0 white,
      40px 175px 0 white,
      /*right f*/
      75px 155px 0 white,
      80px 155px 0 white,
      85px 155px 0 white,
      90px 155px 0 white,
      70px 160px 0 white,
      75px 160px 0 white,
      80px 160px 0 white,
      85px 160px 0 white,
      90px 160px 0 white,
      95px 160px 0 white,
      70px 165px 0 white,
      95px 165px 0 white,
      65px 165px 0 white,
      70px 170px 0 white,
      75px 170px 0 white,
      80px 170px 0 white,
      85px 170px 0 white,
      90px 170px 0 white,
      95px 170px 0 white,
      75px 175px 0 white,
      80px 175px 0 white,
      85px 175px 0 white,
      90px 175px 0 white,
      /*left arm*/
      20px 80px 0 white,
      20px 85px 0 white,
      20px 90px 0 white,
      5px 75px 0 white,
      10px 75px 0 white,
      15px 75px 0 white,
      0px 80px 0 white,
      0px 85px 0 white,
      5px 85px 0 white,
      0px 90px 0 white,
      0px 95px 0 white,
      0px 100px 0 white,
      0px 105px 0 white,
      0px 110px 0 white,
      0px 115px 0 white,
      15px 80px 0 white,
      15px 85px 0 white,
      15px 90px 0 white,
      15px 95px 0 white,
      15px 100px 0 white,
      15px 105px 0 white,
      15px 110px 0 white,
      15px 115px 0 white,
      5px 120px 0 white,
      10px 120px 0 white,
      0px 125px 0 white,
      5px 125px 0 white,
      10px 125px 0 white,
      15px 125px 0 white,
      0px 130px 0 white,
      15px 130px 0 white,
      /*right arm*/
      95px 80px 0 white,
      95px 85px 0 white,
      95px 90px 0 white,
      100px 75px 0 white,
      105px 75px 0 white,
      110px 75px 0 white,
      115px 80px 0 white,
      115px 85px 0 white,
      110px 85px 0 white,
      115px 90px 0 white,
      115px 95px 0 white,
      115px 100px 0 white,
      115px 105px 0 white,
      115px 110px 0 white,
      115px 115px 0 white,
      100px 80px 0 white,
      100px 85px 0 white,
      100px 90px 0 white,
      100px 95px 0 white,
      100px 100px 0 white,
      100px 105px 0 white,
      100px 110px 0 white,
      100px 115px 0 white,  
      105px 120px 0 white,
      110px 120px 0 white,
      100px 125px 0 white,
      105px 125px 0 white,
      110px 125px 0 white,
      115px 125px 0 white,
      100px 130px 0 white,
      115px 130px 0 white,
      /*led*/
      70px 80px 0 white,
      75px 80px 0 white,
      65px 85px 0 white,
      70px 85px 0 white,
      75px 85px 0 white,
      80px 85px 0 white,
      65px 90px 0 white,
      70px 90px 0 white,
      75px 90px 0 white,
      80px 90px 0 white,
      70px 95px 0 white,
      75px 95px 0 white
  }
  .robot3:after {
    box-shadow:
      /* antenna */
      55px 20px 0 white,
      60px 20px 0 white,
      40px 20px 0 white,
      45px 20px 0 white,
      70px 20px 0 white,
      75px 20px 0 white,
      35px 25px 0 white,
      50px 25px 0 white,
      55px 25px 0 white,
      60px 25px 0 white,
      65px 25px 0 white,
      80px 25px 0 white,
      40px 30px 0 white,
      45px 30px 0 white,
      55px 30px 0 white,
      60px 30px 0 white,
      70px 30px 0 white,
      75px 30px 0 white,
      55px 35px 0 white,
      60px 35px 0 white,
      55px 40px 0 white,
      60px 40px 0 white,
      /* head */
      45px 45px 0 white,
      50px 45px 0 white,
      55px 45px 0 white,
      60px 45px 0 white,
      65px 45px 0 white,
      70px 45px 0 white,
      40px 50px 0 white,
      40px 55px 0 white,
      40px 60px 0 white,
      40px 65px 0 white,
      40px 70px 0 white,
      75px 50px 0 white,
      75px 55px 0 white,
      75px 60px 0 white,
      75px 65px 0 white,
      75px 70px 0 white,
      /*eyes*/
      50px 55px 0 white,
      50px 60px 0 white,
      65px 55px 0 white,
      65px 60px 0 white,
      /*body*/
      30px 75px 0 white,
      35px 75px 0 white,
      40px 75px 0 white,
      45px 75px 0 white,
      50px 75px 0 white,
      55px 75px 0 white,
      60px 75px 0 white,
      65px 75px 0 white,
      70px 75px 0 white,
      75px 75px 0 white,
      80px 75px 0 white,
      85px 75px 0 white,
      25px 80px 0 white,
      25px 85px 0 white,
      25px 90px 0 white,
      25px 95px 0 white,
      25px 100px 0 white,
      25px 105px 0 white,
      25px 110px 0 white,
      25px 115px 0 white,
      25px 120px 0 white,
      25px 125px 0 white,
      25px 130px 0 white,
      90px 80px 0 white,
      90px 85px 0 white,
      90px 90px 0 white,
      90px 95px 0 white,
      90px 100px 0 white,
      90px 105px 0 white,
      90px 110px 0 white,
      90px 115px 0 white,
      90px 120px 0 white,
      90px 125px 0 white,
      90px 130px 0 white,
      30px 135px 0 white,
      35px 135px 0 white,
      40px 135px 0 white,
      45px 135px 0 white,
      50px 135px 0 white,
      55px 135px 0 white,
      60px 135px 0 white,
      65px 135px 0 white,
      70px 135px 0 white,
      75px 135px 0 white,
      80px 135px 0 white,
      85px 135px 0 white,
      35px 135px 0 white,
      80px 135px 0 white,
      35px 140px 0 white,
      40px 140px 0 white,
      45px 140px 0 white,
      50px 140px 0 white,
      55px 140px 0 white,
      60px 140px 0 white,
      65px 140px 0 white,
      70px 140px 0 white,
      75px 140px 0 white,
      80px 140px 0 white,   
      40px 145px 0 white,
      45px 145px 0 white,
      70px 145px 0 white,
      75px 145px 0 white,
      50px 150px 0 white,
      55px 150px 0 white,
      60px 150px 0 white,
      65px 150px 0 white,
      55px 155px 0 white,
      60px 155px 0 white,
      55px 160px 0 white,
      60px 160px 0 white,
      55px 165px 0 white,
      60px 165px 0 white,
      55px 170px 0 white,
      60px 170px 0 white,
      /*left f*/
      25px 155px 0 white,
      30px 155px 0 white,
      35px 155px 0 white,
      40px 155px 0 white,
      20px 160px 0 white,
      45px 160px 0 white,
      20px 165px 0 white,
      25px 165px 0 white,
      30px 165px 0 white,
      35px 165px 0 white,
      40px 165px 0 white,
      45px 165px 0 white,
      50px 165px 0 white,
      20px 170px 0 white,
      45px 170px 0 white,    
      25px 175px 0 white,
      30px 175px 0 white,
      35px 175px 0 white,
      40px 175px 0 white,
      /*right f*/
      75px 155px 0 white,
      80px 155px 0 white,
      85px 155px 0 white,
      90px 155px 0 white,
      70px 160px 0 white,
      95px 160px 0 white,
      65px 165px 0 white,
      70px 165px 0 white,
      75px 165px 0 white,
      80px 165px 0 white,
      85px 165px 0 white,
      90px 165px 0 white,
      95px 165px 0 white,
      70px 170px 0 white,
      95px 170px 0 white,
      75px 175px 0 white,
      80px 175px 0 white,
      85px 175px 0 white,
      90px 175px 0 white,
      /*left arm*/
      20px 85px 0 white,
      20px 90px 0 white,
      20px 95px 0 white,
      5px 80px 0 white,
      10px 80px 0 white,
      15px 80px 0 white,
      0px 85px 0 white,
      0px 90px 0 white,5px 90px 0 white,
      0px 95px 0 white,
      0px 100px 0 white,
      0px 105px 0 white,
      0px 110px 0 white,
      0px 115px 0 white,
      0px 120px 0 white,
      15px 85px 0 white,
      15px 90px 0 white,
      15px 95px 0 white,
      15px 100px 0 white,
      15px 105px 0 white,
      15px 110px 0 white,
      15px 115px 0 white,
      15px 120px 0 white,   
      5px 125px 0 white,
      10px 125px 0 white,
      0px 130px 0 white,
      5px 130px 0 white,
      10px 130px 0 white,
      15px 130px 0 white,
      5px 135px 0 white,
      10px 135px 0 white,  
      /*right arm*/
      95px 85px 0 white,
      95px 90px 0 white,
      95px 95px 0 white,
      100px 80px 0 white,
      105px 80px 0 white,
      110px 80px 0 white,
      115px 85px 0 white,
      115px 90px 0 white,110px 90px 0 white,
      115px 95px 0 white,
      115px 100px 0 white,
      115px 105px 0 white,
      115px 110px 0 white,
      115px 115px 0 white,
      115px 120px 0 white,
      100px 85px 0 white,
      100px 90px 0 white,
      100px 95px 0 white,
      100px 100px 0 white,
      100px 105px 0 white,
      100px 110px 0 white,
      100px 115px 0 white,
      100px 120px 0 white, 
      105px 125px 0 white,
      110px 125px 0 white,
      100px 130px 0 white,
      105px 130px 0 white,
      110px 130px 0 white,
      115px 130px 0 white,
      105px 135px 0 white,
      110px 135px 0 white,
      /*led*/
      70px 85px 0 white,
      75px 85px 0 white,
      65px 90px 0 white,
      80px 90px 0 white,
      65px 95px 0 white,
      80px 95px 0 white,
      70px 100px 0 white,
      75px 100px 0 white
  }